.tituloConBoton {
  display: flex;
  margin-top: 1rem;
}

#contenedor {
  background: #212936;
  font-family: Roboto;
  color: #afbdd1;
}

.botonHojaDeRuta {
  margin: 3rem;
}
h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  color: #afbdd1;
  margin-right: 1rem;
}

h1 {
  color: #afbdd1;
}

body {
  background: #2b3648;
}

#hojaderuta{
  background: #ffffff;
  font-family: Roboto;
  color: #0f191f;
  border-radius: 1rem;
}

#hojaderuta h1{
  color: #0f191f;
}
